html, body {
    height: 90%;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .container.d-flex.justify-content-center.align-items-center.vh-100 {
    flex: 1;
  }
  
  footer {
    margin-top: auto;
  }